# Backend
fastapi==0.115.0
uvicorn==0.30.0
pydantic==2.9.2
httpx==0.27.0
python-dotenv==1.0.1

# Embeddings + VectorDB
openai==1.48.0
qdrant-client==1.12.1

# Utils
numpy==2.1.1
scikit-learn

# Frontend
streamlit==1.38.0

# Testing
pytest==8.3.3
